.dialogWin {
	width: 978px;
	border-radius: 5px;
	box-sizing: border-box !important;
	padding: 0 !important;
	background: none !important;
	box-shadow: 0 0 50px rgba(0,0,0,1);
}

.dialogWin img {
	max-width: 100%;
}

.dialogWin .top {
	padding: 2em;
	background: #50291a;
	position: relative;
	/* border-bottom: 1px solid #eee; */
}

.dialogWin .logo {
	position: absolute;
	left: 16px;
	top: 0;
    display: block;
    height: 88px;
    width: 88px;
    background-image: url(/images/baibol-logo-y.png);
    background-image: url(/images/baibol-logo.png);
    background-image: url(/images/logo_brown.png);
    background-image: url(/images/logo_white.png);
    /* background-image: url(/images/logo_gold.png); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    font-size: 0;}

.dialogWin .bottom {
	padding: 2em;
	background: #d4bd9b;
	background-image: url(/images/bg-kraft.jpg);
	/* color: #fff; */
}

.dialogWin ul {
	margin: 1em 0;
	line-height: 1;
}
.dialogWin ul li {
	list-style: square;
	margin: 0.5em 1em;
	line-height:20px;
}
.dialogWin h1 {
	margin-left: 4em;
	font-size: 1.5em;
	text-align: left;
	color: #d4bd9b;
}
.dialogWin hr {
	margin: 2em 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #b6a588;
}
.dialogWin h2 {
	font-size: 1.5em;
	margin: 1em 0;
	text-align: left;
	font-family: inherit;
}
.dialogWin h3 {
	font-size: 1em;
	margin: 0 0 1em 0;
	text-align: left;
	font-family: inherit;
}

.dialogWin [class*="col-"] {
	padding: 0 2em 0 0;
}
.dialogWin p {
	margin: 1em 0;
	font-size: 1em;
	line-height: 1.5em;
}

.dialogWin form .important {
	color: red;
	margin-left: 0.2em;
}

.dialogWin label {
	text-align: right;
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 1em 0;
	outline: none;
	font-size: 1em;
	padding: 0.5em 0;
	border-radius: 3px;
	line-height: 18px;
}

.dialogWin input[type="text"] {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 1em 0;
	outline: none;
	border: 1px solid #eee;
	font-size: 1em;
	padding: 0.5em 1em;
	border-radius: 3px;
	background: #fafafa;
}

/* .dialogWin input[type="text"][name="date"] { */
	/* width: 50%; */
/* } */
/* .dialogWin input[type="text"][name="date"] { */
	/* width: 50%; */
/* } */

.dialogWin input[type="text"].important {
	border-color: red;
	color: inherit;
}

.dialogWin input[type="text"].important:focus {
	border-color: #eee;
}

.dialogWin select {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 1em 0;
	outline: none;
	border: 1px solid #eee;
	font-size: 1em;
	padding: 0.5em 1em;
	border-radius: 3px;
	background: #fafafa;
}

.dialogWin textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	min-height: 150px;
	margin: 1em 0;
	outline: none;
	border: 1px solid #eee;
	font-size: 1em;
	padding: 0.75em 1em;
	border-radius: 3px;
	background: #fafafa;
	resize: vertical;
}

.dialogWin .pay_method {
	background: #fff;
	color: #008000;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #008000;
	transition: .5s;
	display: none;
}

.dialogWin .pay_method input[type="radio"]{
	display: none;
}
.dialogWin .pay_method input[type="radio"]:checked+label{
	background: green;
	color: #fff;
	border-radius: 0;
	transition: .5s;
}

.dialogWin .pay_method:after {
	display: block;
	clear: both;
	content: '';
}

.dialogWin .pay_method label {
	float: left;
	width: 50%;
	text-align: center;
	padding: 0;
	margin: 0;
	padding: 0.5em;
}

.dialogWin .payments {
	margin: 1em 0;
	text-align: center;
}

.dialogWin .payment {
	float: left;
	display: inline-block;
	width: 51px;
	height: 32px;
	background: url(/images/payments.png) no-repeat; 
}
.dialogWin .payment:hover{
	cursor:pointer;
}
.dialogWin .payment.cash {
	display: inline-block;
	width: auto;
	background: #008000;
	text-align: center;
	color: #fff;
	padding: 0 .5em;
	line-height: 32px;
	font-size: 10pt;
	text-transform: uppercase;
}
.dialogWin .payments input[type="radio"] {
	display: none;
}
.dialogWin .payments label{
	border: 0;
	border-radius: 5px;
	/* border-bottom: 1px solid #ccc; */
	position: relative;
	margin: 0;
	margin-right: 6px;
}
.dialogWin .payments label:after {
	position: absolute;
	display: block;
	height: 2px;
	background: transparent;
	content: '';
	bottom: 0px;
	left: 0;
	transition: .3s;
	opacity: 0;
}
.dialogWin .payments input[type="radio"]:checked+label{
	/* outline: 1px solid green; */
	/* box-shadow: 0 0 15px green; */
}
.dialogWin .payments input[type="radio"]:checked+label:after {
	background: #50291a;
	width: 100%;
	bottom: -5px;
	transition: .3s;
	opacity: 1;
}

.dialogWin .food_2 {
	display: none;
}

.dialogWin .visa_description, .dialogWin .mc_description, .dialogWin .elsom_description, .dialogWin .mobilnik_description {
	display: none;
}