html, body {
	/* height: 100%; width: 100%; */
}

body {
	background: #d4bd9b;
	background-image: url(/images/bg-kraft.jpg);
	/* background-size: cover; */
	background-attachment: fixed;
	background-attachment: fixed;
	/* background-position: center; */
	color: #50291a;
	overflow-y: scroll;
}

h2 {
	margin: 1em 0;
	font-size: 20pt;
	font-family: 'El Messiri', sans-serif;
    font-weight: 700;
}

.wrapper {
	width: 100%;
}

.wrap {
	margin: 0 auto;
	width: 960px;
}

.after::after {
	display: block;
	clear: both;
	content: '';
}

/* nav */

nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	/* background-color: #211c1a; */
	/* background: linear-gradient(to bottom, #211c1a, rgba(33, 28, 26, 0.85)); */
	/* background: linear-gradient(to bottom, #000000, rgba(80, 41, 26, 0.79)); */
	/* background: #211c1a; */
	color: #d4bd9b;
	z-index: 999;
}

nav a {
	color: #d4bd9b;
	outline:none;
}

nav a.logo {
	margin: 0 auto;
	display: block;
	height: 100%;
	width: 100%;
	background-image: url('/images/baibol-logo-y.png');
	background-image: url('/images/baibol-logo.png');
	background-image: url('/images/logo_brown.png');
	background-image: url('/images/logo_white.png');
	/* background-image: url('/images/logo_gold.png'); */
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	font-size: 0;
}
nav a.logo:hover {
	//background-image: url('/images/baibol-logo.png');
}

nav .phone {
	display: block;
	margin: 10px 0;
	line-height: 40px;
	font-size: 16pt;
	font-weight: bold;
	cursor: default;
	font-family: 'El Messiri', sans-serif;
	font-weight: 700;
	float:left;
}
nav #cart{
	display: block;
	margin: 10px 0;
	line-height: 40px;
	font-size: 18pt;
	font-weight: bold;
	cursor: default;
	font-family: 'El Messiri', sans-serif;
	font-weight: 700;
	float:right;
}
nav #cart .icon-cart{
	line-height:40px;
	float:left;
}
nav #cart .icon-cart #cart_size{
	float: right;
    display: block;
    background: green;
    line-height: 21px;
    height: 21px;
    font-weight: bold;
    width: 21px;
    border-radius: 100%;
    text-align: center;
	font-size:16px;
	margin: 10px 0 10px 2px;
}
nav #cart #cart_sum{
	float:left;
	font-size:16px;
	margin-left:4px;
}
nav #cart:hover{
	cursor:pointer;
}

nav .phone i {
	margin-right: 0.5em;
	font-size: 16pt;
	line-height: 40px;
}
nav .link {
	display: inline-block;
    margin: 10px 20px 10px 0;
    line-height: 40px;
}
nav .center {
	text-align: center;
}
nav .right {
	text-align: right;
}

/* header */

header {
	/* margin-top: 60px; */
	width: 100%;
	height: 500px;
	background: #50291a;
	/* background-size: cover; */
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	z-index: 0;
	border-bottom: 5px solid #50291a;
}
header:after {
	position: absolute;
	display: block;
	content: '';
	height: 16px;
	width: 100%;
	bottom: -20px;
	left: 0;
	background-image: url('/images/border-uzor.png');
	background-size: auto 16px;
	background-repeat: repeat-x;
}

/* content */

.content {
	padding: 2em 1em;
	
}
.content p {
	font-family: 'El Messiri', sans-serif;
	font-weight: 400;
	line-height: 25px;
	
}
.content h2 {
	text-align: center;
	color: #50291a;
	font-family: 'El Messiri', sans-serif;
	font-weight: 700
}
.content p {
	margin: 1em 0;
}

/* footer */

footer {
	width: 100%;
	background: #211c1a;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	z-index: 0;
	color: #d4bd9b;
	font-size: 10pt;
	cursor: default;
}

footer a {
	color: #d4bd9b;
}

footer:before {
	position: absolute;
	display: block;
	content: '';
	height: 16px;
	width: 100%;
	top: -16px;
	left: 0;
	background-image: url('/images/border-uzor-t.png');
	background-size: auto 16px;
	background-repeat: repeat-x;
}

footer > .wrap {
	padding: 3em 1em;
}

footer .nav {
	margin: 0 0 3em 0;
	text-transform: uppercase;
}
footer .nav li{
	float: left;
	display: inline-block;
	margin-right: 2em;
	font-weight: bold;
}
footer .nav:after {
	display: block;
	clear: both;
	content: '';
}

footer .contacts {
	line-height: 40px;
	font-size: 12pt;
}

footer .contacts i {
	margin-right: 1em;
}

footer .contacts .networks {
	margin: 1em 1em 1em 0;
}

footer .contacts span {
	margin: 3em 1em 3em 0;
}

footer .contacts .icon-brand17:before, footer .contacts .icon-brand20:before, footer .contacts .icon-brand23:before {
	color: inherit;
	font-size: 16pt;
}
footer .contacts .icon-brand17{
	color:#3b5998;
}
footer .contacts .icon-brand20{
	color:#e4405f;
}
footer .contacts .icon-brand23{
	color:#589442;
}

/* other */
#discount{
	text-decoration: line-through;
    font-size: 0.6em;
    margin-right: .5em;
}
.btn {
	border: 0;
	line-height: 1;
	padding: 1em 2em;
	font-size: 12pt;
	background: #211c1a;
	color: #d4bd9b;
	border-radius: 4px;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
}
.btn:active {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.4);
}


.hr {
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}

.el-1 {
	background-image: url('/images/el-1.png')
}

.el-2 {
	background-image: url('/images/el-2.png')
}

.el-3 {
	background-image: url('/images/el-3.png')
}

.reviews {
	margin: 3em 0 0 0;
}

.review {
	padding: 1em;
	line-height: 1.3em;
}
.review .name {
	font-weight: bold;
	font-size: 16pt;
	margin: 0 0 .5em 0;
	font-family: 'El Messiri', sans-serif;
	font-weight: 700
}
.review .comment {
	font-family: 'El Messiri', sans-serif;
}

.image {
	text-align: center;
}

.image img {
	width: 95%;
	border-radius: 4px;
}

.deliverypayment {
	margin: 3em 0 0 0;
}

.deliverypayment h3 {
	font-size: 16pt;
	margin: 0 0 0.5em 0;
	font-family: 'El Messiri', sans-serif;
	font-weight: 700
}

.deliverypayment p {
	margin: 1em 0;
	font-size: 10pt;
	line-height: 1.3em;
}

.networks {
	margin: 3em 0;
}

.networks h3 {
	font-size: 16pt;
	margin: 0 0 0.5em 0;
	font-family: 'El Messiri', sans-serif;
	font-weight: 700
}

.networks a h3 {
	color: #50291a;
}

.networks p {
	margin: 1em 0;
	font-size: 10pt;
	line-height: 1.3em;
}

.calendar-table {
	color: #000;
	font-size: 10pt;
	/* overflow: hidden; */
}

.calendar-table .next:before {
	font-family: 'icomoon';
	content: "\e409";
	line-height: 20px;
}
.calendar-table .prev:before {
	font-family: 'icomoon';
	content: "\e408";
	line-height: 20px;
}
.calendar-table tr {
	box-sizing: border-box;
}
.calendar-table th {
	padding: 5px;
	min-width: auto !important;
}
.calendar-table td {
	padding: 5px;
	min-width: auto !important;
	line-height: 20px;
}
#more:hover{
	cursor:pointer;
}