* {
	font-family: Arial, sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #fff;
	color: #000;
	font-size: 12pt;
	overflow-y: scroll;
	line-height: 1;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
ul:after{
	display: block;
	clear: both;
	content: '';
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid;
}
strong, b {
	font-weight: bold;
}

/* diff */

.clear {clear: both;}

::-webkit-input-placeholder {color:#cbd0da;font-style:italic}
::-moz-placeholder          {color:#cbd0da;font-style:italic}/* Firefox 19+ */
:-moz-placeholder           {color:#cbd0da;font-style:italic}/* Firefox 18- */
:-ms-input-placeholder      {color:#cbd0da;font-style:italic}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}