#vcard {
	background: #fff;
}

#vcard .header {
	height: 200px;
	background-color: rgb(39, 25, 20);
	background-image: url(/images/vcard/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#vcard .header .logo {
	position: absolute;
	width: 154px;
	height: 54px;
	top: 50%;
	left: 50%;
	margin-top: -27px;
	margin-left: -77px;
	background-image: url(/images/vcard/logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

#vcard .header .transparent {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	z-index: 0;
}

#vcard .title {
	background-color: rgb(39, 25, 20);
	padding: 1em;
}

#vcard .title p {
	color: rgba(255,255,255,.75);
	font-size: 10pt;
	margin: 1em 0 0 0;
}

#vcard h1 {
	font-size: 14pt;
	color: #fff;
	font-weight: normal;
}

#vcard .links {
	background: #fff;
}

#vcard .links a {
	display: block;
	color: #000;
	padding: 1em;
	border-bottom: 1px solid #eee;
}

#vcard .links a .icon {
	float: left;
	width: 32px;
	font-size: 32px;
	margin-right: 16px;
}

#vcard .links a .name {
	float: left;
	width: calc(100% - 48px);
}

#vcard .links a .name .label {
	color: rgba(0, 0, 0, 0.5);
	margin: 0.5em 0 0 0;
	font-size: 10pt;
}

#vcard .links a:after {
	display: block;
	clear: both;
	content: '';
}