<div class="dialogWin">
	<div class="top">
		<h1>Все условия доставки и оплаты</h1>
		<div class="logo"></div>
	</div>
	<div class="bottom">
		<ul>
			<li>Оформление заказа необходимо произвести за сутки до осуществления доставки
			<li>При оформлении заказа необходимо оплатить 50% от стоимости заказа следующими способами:
			<div style="margin:1em 0 0 1em;">
				<ul style="list-style-type:disc !important;">
					<li style="list-style:disc !important;">Оплатой наличными (в этно-ресторане «Байбол»)
					<li style="list-style:disc !important;">Банковской картой на сайте
					<li style="list-style:disc !important;">C кошелька или в терминалах «Элсом» и «Мобильник»
				</ul>
			</div>
			<li>Заказы подтверждаются с 7:00 до 21:00
			<li>После оформления заказа наш оператор свяжется с вами для подтверждения заказа
			<li>Отсчет времени заказа и приготовление блюд идет после подтверждения оператором
			<li>Доставка по городу Бишкек бесплатно. При оформлении доставки необходимо указать точный адрес
			<li>Внести изменения в заказ или отказаться от него можно в течение одного часа с момента подтверждения заказа
			<li>Точное время доставки согласуется с оператором при подтверждении заказа
			<li>По приезду курьера, во избежание недоразумений, рекомендуется проверить на соответствие качества
			<li>Доставка таш-кордо осуществляется в специальных термоустойчивых сумках c температурой не менее 65°C
		</ul>
	</div>
</div>