<div class="dialogWin delPhotoData" data-id="[_id]">
	<h1>Вы уверены, что хотите удалить эту фотографию?</h1>
	<!-- <p align="center">Вы уверены, что хотите удалить эту фотографию?</p> -->
	<p align="center">[_image]</p>
	<div class="footer">
		<button class="delete">Удалить</button>
		<button class="cancel" data-fancybox-close="">Отмена</button>
	</div>
</div>