<div class="dialogWin placeOptions">
	<h1>Настройки</h1>
	<form onsubmit="return false;">
		<label>Адрес страницы</label>
		<!-- <input type="text" name="url" value="[_url]" placeholder="введите url..." minlength="4" maxlength="32" /> -->
		<div class="mask"><div style="float: left;">https://ala-too.kg/</div><input name="url" value="[_url]" minlength="4" maxlength="32" placeholder="адрес страницы" /><div class="check"><span class="icon-http"></span></div>
		<div class="clear"></div></div>
		<p>Допускаются: "буквы латиницей или кириллицей", "цифры 0-9" и знак точки "."</p>
	</form>
	<div class="footer">
		<button class="save" disabled>Сохранить</button>
		<button class="cancel" data-fancybox-close="">Отмена</button>
	</div>
</div>
<script>
</script>